Use RFC Complianr Regex for email validation

Use the [RFC-Regex](https://pdw.ex-parrot.com/Mail-RFC822-Address.html) for email validation.

Actually the latest update regarding email adress specification is RFC 5322 Section 3.4 